.profile-stats
  margin-top: 2.3rem
  float: left
  width: calc(66.666% - 2rem)

  li
    display: inline-block
    font-size: 1.6rem
    line-height: 1.5
    margin-right: 4rem
    cursor: pointer

    &:last-of-type
      margin-right: 0

.profile-stat-count
  font-weight: 600