$media_width: 40rem
$body_color: #fafafa
$text_color: #262626
$button_color_onfocus: #4d90fe

\:root
  font-size: 10px

* //after, before
  box-sizing: border-box

body
  font-family: Open Sans, Arial, sans-serif
  min-height: 100vh
  background-color: $body_color
  color: $text_color
  padding-bottom: 3rem

img
  display: block

.container
  max-width: 93.5rem
  margin: 0 auto
  padding: 0 2rem

.btn
  display: inline-block
  font: inherit
  background: none
  border: none
  color: inherit
  padding: 0
  cursor: pointer

  &:focus
    outline: 0.5rem auto $button_color_onfocus


.visually-hidden
  position: absolute !important
  height: 1px
  width: 1px
  overflow: hidden
  clip: rect(1px, 1px, 1px, 1px)
