.Auth
  min-width: 13rem
  max-width: 20rem
  min-height: 8rem
  max-height: 10rem

  margin: auto
  background: #9fb8e6
  text-align: center
  padding-top: 15px

  & input
    display: block
    margin: 0 auto
    margin-top: 5px

  & button
    margin-top: 5px
